//Typography
$body-font-size:    16px;
$body-font-small:   14px;
$body-line-height:  1.5;
$body-font:         Helvetica;
$body-font-color:   #333333;

//Colors
$gray: #dddddd;
$light-gray: #f5f5f5;

//Content
$board-width:       800px;
$board-height:      600px;

$hand-width:        250px;
$hand-height:       70px;

$pile-height:       180px;
$pile-width:        250px;
$pile-bg-color:     #191716;

$border:            1px solid $gray;

$spacing:           30px;
