@import "variables";

// Reset styles
body, ul, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

body {
    font-family: $body-font;
    font-size: $body-font-size;
    color: $body-font-color;
}

h1, h2, h3 {
    font-weight: 200;
}

.hidden {
    display: none !important;
}

.action {
    cursor: pointer;
}

.scoreboard {
    width: $board-width;
    height: 60px;
    box-sizing: border-box;
    margin: ($spacing / 2) auto;
    padding: $spacing / 4;
    border: $border;
    border-radius: 3px;
}

.scoreboard-item {
    width: 20%;
    margin-right: 5%;
    display: inline-block;
    overflow: hidden;

    &:last-child {
        margin-right: 0;
    }
}

#board {
    position: relative;
    width: $board-width;
    height: $board-height;
    margin: 0 auto;
    border-radius: 3px;
    background-color: pink;
}

#clue {
    display: inline-block;
}

#players {
    position: relative;
    height: $board-height;
}

.hand {
    position: absolute;
    width: $hand-width;
    height: $hand-height;
    text-align: center;
    color: white;
    border-radius: 3px;

    > ul {
        list-style: none;
        margin-top: $spacing / 3;
        padding-left: 0;
    }

    &.top, &.bottom {
        left: ($board-width / 2) - ($hand-width / 2);
    }

    &.left, &.right {
        top: ($board-height / 2) - ($hand-height / 2);
    }

    &.right {
        right: 0;
    }

    &.bottom {
        bottom: 0;
    }

    &.middle {
        position: fixed;
        right: 0;
        top: 0;
        height: auto;
        background-color: $pile-bg-color;
    }

    &.played, &.discarded {
        left: ($board-width / 2) - ($pile-width / 2);
        width: $pile-width;
        height: $pile-height;
        box-sizing: border-box;
        background-color: $pile-bg-color;

        .pile {
            width: 100px;
            float: left;
        }
    }

    &.played {
        top: $hand-height + $spacing;
    }

    &.discarded {
        bottom: $hand-height + $spacing;
    }
}

.tile {
    display: inline-block;
    margin-right: 10px;
    padding: 8px 10px;
    border-radius: 3px;

    &:last-child {
      margin-right: 0;
    }

    &.played {
        padding: 4px 6px;
    }

    .discard-area {
        float: right;
        width: 20px;
    }
}

.inline-tile, .inline-tile-blank {
    display: inline-block;
    margin: 0 2px;
    padding: 2px 5px;
    border-radius: 3px;
}

.inline-tile {
    color: white;
}

.inline-tile-blank {
    color: $body-font-color;
    border: $border;
}

.log {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    background-color: white;
    overflow: scroll;
    border-right: $border;
}

.log-row {
    padding: ($spacing / 3) ($spacing / 2);

    &:hover {
        background-color: $light-gray;
        cursor: pointer;
    }
}

h3.log-row:hover {
    background-color: transparent;
    cursor: default;
}

::-webkit-scrollbar {
    width: 0px;  // Remove scrollbar space
}

// Utility classes
.font-small {
    font-size: $body-font-small;
    line-height: 1.3;
}

.font-color-black {
    color: $body-font-color;
}
