//Typography
$body-font-size:    16px;
$body-line-height:  1.5;
//Colors
$gray: #dddddd;
//Content
$board-width:       800px;
$tile-bg-color:     #191716;
$border:            1px solid $gray;
$spacing:           30px;

// Reset styles
body, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

body {
    font-size: $body-font-size;
}

.hidden {
    display: none !important;
    padding: 10px;
}

.action {
    cursor: pointer;
}

// .wrapper {
//     padding-top: $spacing;
//     margin: 0 auto;
//     width: 100%;
// }

.scoreboard {
    width: $board-width;
    height: 60px;
    padding: $spacing / 4;
    margin: 0 auto;
    margin-bottom: $spacing;
    border: $border;
    box-sizing: border-box;
}

.scoreboard-item {
    width: 20%;
    margin-right: 5%;
    display: inline-block;
    overflow: hidden;

    &:last-child {
        margin-right: 0;
    }
}

#board {
    width: $board-width;
    height: 600px;
    margin: 0 auto;
    background-color: pink;
}

#clue {
    display: inline-block;
}

// Played and discared tiles go here
.playing-field {
    width: 50%;
    height: auto;
    background-color: $tile-bg-color;
}

.hand {
    width: 198px;
    height: 48px;
    background-color: $tile-bg-color;
    color: white;
    border: 1px solid white;

    &.top {
        left: 200px;
    }

    &.right {
        top: 275px;
        left: 400px;
    }

    &.bottom {
        top: 550px;
        left: 200px;
    }

    &.left {
        top: 275px;
    }

    &.middle {
        position: fixed;
        right: 0;
        top: 0;
        height: 198px;
    }

    &.played, &.discarded {
        width: 50%;
        height: 200px;
        float: left;
        box-sizing: border-box;
    }

    &.played {
        //height: 148px;

        .pile {
            width: 100px;
            float: left;
        }
    }

    &.discarded {
        //height: 148px;
    }
}

.tile {
    float: left;
    width: 40px;
    border-right: $border;

    &.played {
        width: 20px;
    }

    .discard-area {
        float: right;
        width: 20px;
    }
}

.pile {
    min-width: 90px;
    height: 36px;
    overflow: auto;
}

.right {
    float: right;
}
