body {
    margin: 0;
}

.hidden {
    display: none !important;
}

.action {
    cursor: pointer;
}

#board {
    width: 600px;
    height: 600px;
    background-color: pink;
}

.tiles {
    width: 198px;
    height: 48px;
    background-color: black;
    position: absolute;
    color: white;
    border: 1px solid white;
}

.tiles.top {
    left: 200px;
}

.tiles.right {
    top: 275px;
    left: 400px;
}

.tiles.bottom {
    top: 550px;
    left: 200px;
}

.tiles.left {
    top: 275px;
}

.tiles.middle {
    left: 600px;
    height: 198px;
}

.tiles.played {
    top: 100px;
    left: 200px;
    height: 148px;
}

.tiles.played .pile {
    width: 90px;
    float: left;
}

.pile {
    min-width: 90px;
    height: 36px;
    overflow: auto;
}

.tiles.discarded {
    top: 300px;
    left: 200px;
    height: 198px;
}

.tile {
    float: left;
    margin-right: 4px;
}
